<h2 id="EditNoteHead">Note Edit</h2>
<form id="EditNoteForm">
    <label id="NoteTitleLabel" class="Label" for="NoteTitle">Title</label>
    <input type="text" id="NoteTitle" class="Text" value="Title" required>
    <label id="NoteDescriptionLabel" class="Label" for="NoteDescription">Description</label>
    <textarea id="NoteDescription" class="TextArea" required>This is some text</textarea>
    <label id="NoteImportanceLabel" class="Label" for="NoteImportance">Importance</label>
    <input type="text" id="NoteImportance" class="Text" value="***" required>
    <label id="NoteDueToLabel" class="Label" for="NoteDueTo">Due to</label>
    <input type="date" id="NoteDueTo" class="Date" value="01/01/2000" required>
    <label id="NoteDoneLabel" class="Label" for="NoteDone">Done
        <input type="checkbox" id="NoteDone" class="Checkbox">
    </label>
    <input class="Button Save" type="submit" formmethod="get" formaction="/saveNote" value="Save">
    <input class="Button Cancel" type="submit" formmethod="get" formaction="/index" value="Cancel">
</form>