<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form>
    <div id="BigBtnGroup">
        <div id="FirstBtnGroup">
            <button class="Button Float Left">Create new Note</button>
            <button class="Button Float Right">Style Switcher</button>
        </div>
        <div id="SecondBtnGroup">
            <button class="Button Float Left">By finish Date</button>
            <button class="Button Float Left">By created Date</button>
            <button class="Button Float Left">By Importance</button>
            <button class="Button Float Right">Hide Finished</button>
        </div>
    </div>
</form>
