<form id="HeadForm">
    <div id="Head">
        <input type="submit" formmethod="get" formaction="/createNote" class="Button" value="Create new Note">
        <input type="submit" formmethod="get" formaction="/styleSwitch" class="Button Right" value="Style Switcher">
    </div>
    <div id="Subhead">
        <input type="submit" formmethod="get" formaction="/sortFinishDate" class="Button" value="By finish Date">
        <input type="submit" formmethod="get" formaction="/sortCreateDate" class="Button" value="By created Date">
        <input type="submit" formmethod="get" formaction="/sortImportance" class="Button" value="By Importance">
        <input type="submit" formmethod="get" formaction="/hideFinished" class="Button Right" value="Hide Finished">
    </div>
</form>

