<form id="ListForm">
    <a class="DueTo">Time</a>
    <label class="CheckboxLabel" for="FinishedCheckbox">Done
        <input id="FinishedCheckbox" type="checkbox">
    </label>
    <label class="TextAreaTitle" for="TextArea">Title</label>
    <textarea id="TextArea">this is a text</textarea>
    <a class="Importance">Importance</a>
    <input type="submit" formmethod="get" formaction="/editNote" class="Button Edit" value="Edit">
</form>