@import "light.css";

body {
    background: black;
    color: white;
}

.EmptyList {
    background: dimgrey;
}

.Button {
    border-color: white;
    background: black;
    color: white;
}

/*Listentries*/
#ListForm {
    border: dotted dimgrey;
}

#TextArea{
    background: black;
    color: white;
}

/*EditNote*/
.Text {
    border-color: dimgrey;
    background: black;
    color: white;
}

.TextArea{
    border-color: dimgrey;
    background: black;
    color: white;
}
