@import "light.css";

body {
    background: black;
    color: white;
}

.Button:hover{
    background: dimgrey;
    color: black;
    border-color: white;
}

.EmptyList {
    background: dimgrey;
}

.Button {
    background: black;
    color: white;
    border: solid 1px white
}

/*Listentries*/
#ListForm {
    border: dotted dimgrey;
}

#TextArea{
    background: black;
    color: white;
    border: solid 1px white;
}

/*EditNote*/
.Text {
    border-color: lightgrey;
    background: black;
    color: white;
}

.TextArea{
    border-color: lightgrey;
    background: black;
    color: white;
}

.Text:hover {
    background: dimgrey;
}

.Text:focus {
    background: dimgrey;
    border-color: white;
}

.TextArea:hover {
    background: dimgrey;
}

.TextArea:focus {
    background: dimgrey;
    border-color: white;
}

#NoteDoneLabel:hover {
    text-shadow: 0.05rem 0.05rem white;
}

#NoteDone:hover {
    text-shadow: 0.05rem 0.05rem white;
}